$tx-color-primary: #FFFFFF;
$tx-color-secondary:  #333333; 

$bg-color-primary: #1cbbb4;
$bg-color-primary-opacity:rgba(28, 187, 180, 0.7);
$bg-color-primary-hover: #1AADA3;

$bg-color-secondary:  #ffad1d;
$bg-color-secondary-opacity:  rgba(255, 173, 29, 0.7);
$bg-color-secondary-hover: #DB9A1A;

